<div class="container">
  <h2 class="featured">About</h2>
  <div class="row">
    <div class="col-12">
      <p>
          Founded in by the Aditya, our establishment has been serving up delicious 
          food.
        <br>
          We guarantee that you will fall in lust with our decadent food the 
          moment you walk inside until you finish your last bite. Join us for your 
          daily routine, an outing with friends, or simply just to enjoy some alone time.
          
          
      </p>
      <p><b>Vision</b> </p>

<p>The vision is to put Indian sustenance on the Global sense of taste for all time and make an unparalleled feasting background for our supporters by continually receiving and holding best of the business measures for quality, consistency and administration. </p>

<p>We have Consultants of worldwide stature to enable us to understand our vision of growing our impression in India as well as abroad too. </p>

<p>Hungerloft needs to use its tasteful insides, data innovation, proficient ability and brand picture potential to take the business activity to next dimension. </p>

<p><b>Mission</b> </p>

<p>To render our tasks FSSAI and HACCP Compliant to guarantee accomplishment of most elevated principles of sustenance wellbeing, quality and Fine Dining Experience. </p>

<p>To give customary Indian Hospitality, and incredible esteem for-cash suggestion for our visitors. </p>

    </div>
  </div>
</div>