<footer *ngIf="isValid()">
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="align-self-center logo">
              <div id="foo2" >
                  <h1> HungerLoft </h1>
                </div>
                </div>
          
      </div>
      <div class="col">
      <h4>OUR SERVICES</h4>
      <ul class="list-group">
          <li class="list-group-item"><a routerLink="/about">About us</a></li>
          <li class="list-group-item"><a routerLink="/contact">Contact</a></li>
          <li class="list-group-item"><a routerLink="/product"> Menu</a></li>
        </ul>
      </div>
      <div class="col">
          <h4>USEFUL LINKS</h4>
          <ul class="list-group">
              <li class="list-group-item"><a routerLink="/privacy/policy">Policies</a></li>
              <li class="list-group-item"><a routerLink="/privacy/disclaimer">Disclaimer</a></li>
              <li class="list-group-item"><a routerLink="/privacy/terms">Terms and Conditions</a></li>
            </ul>
      </div>
      <div class="col">
          <h4>FOLLOW US</h4>
          <ul class="list-group">
              <li class="list-group-item"><a href="https://www.facebook.com/pages/category/Restaurant/HungerLoft-1792028917516040/" target="blank"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li class="list-group-item"><i class="fab fa-twitter-square"></i> Twitter</li>
              <li class="list-group-item"><i class="fab fa-linkedin"></i> Linkedin</li>
            </ul>
      </div>
    </div>
    <div class="row">
        <hr>
        <div class="col">
        <p style="text-align:center;font-size:14px;border-top:1px dashed #333;padding-top:20px;margin-top:30px;">© HungerLoft 2019.   </p>
        </div>
    </div>
  </div>
</footer>