<div class="container">
    <h2 class="featured">Contact</h2>

  <div class="row">
    <div class="col-3">
      <p>ADDRESS :</p>
        <p>1A/3, G.R Residency,<br>
           14th Cross, 20th Main,<br>
            BTM 1st Stage,<br>
            Bengaluru, <br>
            Karnataka , India</p> 
        <p>Phone: 087893 29123 </p>       
    </div>
    <div class="col-3">
        <p>OPENS :</p>
        <p>Sunday	: 11am–2am<br>
        Monday	: 11am–2am<br>
        Tuesday	: 11am–2am<br>
        Wednesday	: 11am–2am<br>
        Thursday	: 11am–2am<br>
        Friday	: 11am–2am<br>
        Saturday<br>
        (Republic Day) : 11am–2am Hours might differ</p>
    </div>

    <div class="col-3">
        <p>VIEW ON MAP :</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15555.050217971855!2d77.615597!3d12.922977!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f8ed8c9b734665f!2sHungerloft!5e0!3m2!1sen!2sin!4v1547965059761" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>
  </div>
</div>