<div class="container">
    <h2 class="featured"> Terms and Conditions</h2>
    <div class="row">
      <div class="col-12">
        

 <p>Guests to this site are bound by the accompanying terms and conditions ("terms") so please read these cautiously before proceeding to utilize this site. On the off chance that you don't concur with any of these terms, kindly don't utilize this site. On the off chance that you have any inquiries concerning these terms, it would be ideal if you contact </p>

 <p> Disclaimer of Warranties, Inaccuracies or Errors | Pind Balluchi Disclaimer | Availability | Third Party Interaction and Links to Third Party Sites | Copyrights | Trademarks | General Terms and Conditions| Applicable Law and Jurisdiction</p>
      </div>
    </div>
  </div>