<div class="header-in">
  <div class="container">
    <div class="row d-flex justify-content-center mid-w">
        <div class="align-self-center logo">
            <div id="foo">
            <h1>HungerLoft</h1>
        <small>We are indain but chinese too...</small>
        </div>
        <div class="menu">
            <a routerLink="/about">ABOUT</a> | 
            <a routerLink="/product">OUR MENU</a> | 
            <a routerLink="/contact">CONTACT</a>
          </div>
       
          <a routerLink="/product" class="order play-btn">
          ORDER NOW            
        </a>
  
      </div>
    </div>
    
  </div>
</div>